*.gitignore
*.dsp
*.dsw
*.ncb
*.opt
*.plg
*.sln
*.suo
*.vcproj*
*.vcxproj*
Debug
*.lnk
IOCPServer
*.opensdf
*.sdf
*.old
*.XML
_UpgradeReport_Files/
*.Identifier*
*.swp
*.cpp~
*.dll
*.lib
*.she
*.h~
